<!doctype html>
<html lang="en-us">

<head>

    <meta charset="utf-8">
    <title>{{name}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <input type="hidden" id="idHero" value="{{this.id}}" />
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <h1><b>Name:</b> {{name}}</h1>
                </div>
                <div class="row">
                    <p><b>Description:</b> {{description}}</p>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="span2">
                            <div class="row-sm border-right border-primary" style="padding-right:30px;">
                                <button type="button" class="btn btn-primary btn-block">
                                    Comics Available <span class="badge badge-light">{{comics.available}}</span>
                                </button>
                                <button type="button" class="btn btn-success btn-block">
                                    Series Available <span class="badge badge-light">{{series.available}}</span>
                                </button>
                                <button type="button" class="btn btn-danger btn-block">
                                    Stories Available <span class="badge badge-light">{{stories.available}}</span>
                                </button>
                                <button type="button" class="btn btn-warning btn-block">
                                    Events Available <span class="badge badge-light">{{events.available}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-8" style="padding-left:20px;">
                        <div class="row">
                            <p><b>URLs:</b></p>
                        </div>
                        {{#each urls}}
                        <div class="row" style="padding-left:50px;">
                            <a href="{{this.url}}" target="_blank">
                                <p class="text-uppercase">{{this.type}}</p>
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img src="{{thumbnail.path}}.{{thumbnail.extension}}" alt="thumbnail" height="400" width="400">
                <input type="button" id="btnFavoritos" data-id="{{this.id}}" class="btn btn-info hide" value="" />
            </div>
        </div>

    </div>
    <br>
    {{#if pagesComics}}
    <div class="row">
        <h4><b>Comics Available</b></h4>
    </div>
    <div class="row">
        <p style="padding-right:15px;"><b>Pages: </b></p>
        <nav>
            <ul class="pagination">
                {{#each this.pagesComics}}
                <li class="page-item">
                    <form action="/character/{{this.idCharacter}}/{{this.numPage}}" method="GET">
                        {{#if this.active}}
                        <button type="submit" class="btn btn-danger">{{this.labelButton}}</button>
                        {{else}}
                        <button type="submit" class="btn btn-ligth">{{this.labelButton}}</button>
                        {{/if}}
                    </form>
                </li>
                {{/each}}
            </ul>
        </nav>
    </div>
    {{/if}}
    <div class="row">
        {{#each lstComics}}
        <button class="border border-danger btn-light btn-outline-danger"
            onclick="window.location.href='{{this.thumbnail.path}}.{{this.thumbnail.extension}}'" style="width:20%;">
            <div class="row" style="padding-left:20px; padding-right:20px;">
                <span><b>{{this.title}}</b></span>
            </div>
            <div class="row" style="padding:20px;">
                <img src="{{this.thumbnail.path}}.{{this.thumbnail.extension}}" alt="thumbnail"
                    style="width:100%; height:20%;">
            </div>
        </button>
        {{/each}}
    </div>
    <br>
    <div class="row">
        <form action="/search" method="GET">
            <button type="submit" class="btn btn-danger">
                <span class="iconify" style="padding-bottom:2px; width:25px; height:25px;"
                    data-icon="ion:md-arrow-round-back" data-inline="false"></span>
                Back
            </button>
        </form>
    </div>
    </div>
    </div>
</body>

</html>
<style>
    .hide {
        display: none;
    }

    input#btnFavoritos {
        margin-top: 8px;
    }
</style>
<script>
    $(document).ready(function () {
        validarFavoritos();
    })



    function validarFavoritos() {
        var id = $("#idHero").val();
        var url = `/favoritos/isFavorito/${id}`;
        $.get(url, function (data, status) {
            if (status === "success") {
                //Se ja esta adicionado aos favoritos
                if (data) {
                    $("#btnFavoritos").val("Remove to Favorites")
                    .addClass("remove-favoritos")
                    .removeClass("hide")
                    .removeClass("add-favoritos")
                    .attr("data-acao","remover");
                } else {//Se não é favorito 
                    $("#btnFavoritos").val("Add to Favorites")
                    .addClass("add-favoritos")
                    .removeClass("hide")
                    .removeClass("remove-favoritos")
                    .attr("data-acao","adicionar");;
                }
                registrarEventos();
            }
        });
    }

    function registrarEventos() {
        var id = $("#idHero").val();
        //Adiciona Favoritos 
        $(".add-favoritos, .remove-favoritos").on("click", function () {
            $("#btnFavoritos").prop("disabled",true);
            var acao = $("#btnFavoritos").attr("data-acao");
            if(acao === "adicionar" ){
                var url = `/favoritos/adicionar/${id}`
            }else if(acao === "remover"){
                var url = `/favoritos/remover/${id}`
            }else{
                return;
            }
            
            $.get(url, function (data, status) {
                if (status === "success"){
                    window.location.href = window.location.href
                    //validarFavoritos();
                }
                $("#btnFavoritos").prop("disabled",false);
            });
        });
    }
</script>