<!doctype html>
<html lang="en-us">
    <head>

        <meta charset="utf-8">
        <title>Search Characters</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="https://code.iconify.design/1/1.0.2/iconify.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="my-favorites">
                <a href="/favoritos/listar">My Favorites</a>
            </div>
			<div class="row">
                <form action="/search" method="POST" class="bg-light w-100 border border-primary rounded-pill text-center" style="padding:15px;">
                    <input type="hidden" name="offset" value='0' />
                    <label for="idName" style="padding-right:15px;"><h5><b>Name of Marvel character: </b></h5></label>
                    <input type="text" id="idName" name="name" placeholder="" class="w-50" style="margin-right:15px;">
                    <button type="submit" class="btn btn-primary" style="margin-bottom:5px;">Search
                        <span class="iconify" style="padding-bottom:2px; width:25px; height:25px;" data-icon="fe:search" data-inline="false"></span>
                    </button>
                </form>
            </div>
            <br>
            {{#if search}}
                <div class="row">
                    <p><b>Showing result of: </b> {{search}}</p>
                </div>
                <div class="row">
                    <p><b>Quantity found: </b> {{data.total}}</p>
                </div>
            {{/if}}  
            {{#if pages}}  
            <div class="row">
                <p style="padding-right:15px;"><b>Pages: </b></p>
                <nav>
                    <ul class="pagination">
                        {{#each this.pages}}
                            <li class="page-item">
                                <form action="/search" method="POST">
                                    <input type="hidden" name="offset" value="{{this.offset}}" />
                                    <input type="hidden" name="name" value="{{this.searchName}}" />
                                    {{#if this.active}}
                                        <button type="submit" class="btn btn-primary">{{this.idx}}</button>
                                    {{else}}
                                        <button type="submit" class="btn btn-ligth">{{this.idx}}</button>
                                    {{/if}}
                                </form>
                            </li>
                        {{/each}}
                    </ul>
                </nav>
            </div>
            {{/if}}  
            <div class="row">
                {{#each this.data.results}}
                <button class="border border-primary btn-light btn-outline-info" onclick="window.location.href='../character/{{this.id}}'" style="width:20%;">
                    <div class="row" style="padding-left:20px; padding-right:20px;">
                         <span><b>{{this.name}}</b></span>
                     </div>
                    <div class="row" style="padding:20px;">
                        <img src="{{this.thumbnail.path}}.{{this.thumbnail.extension}}" alt="thumbnail" style="width:100%; height:20%;"> 
                    </div>
                </button>
                {{/each}}
            </div>
            <br>
            <div class="row">
                <form action="/" method="GET">
                    <button type="submit" class="btn btn-primary">
                        <span class="iconify" style="padding-bottom:2px; width:25px; height:25px;" data-icon="ion:md-arrow-round-back" data-inline="false"></span>
                        Back
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
<style>
    .my-favorites {
    margin-left: 90%;
}
</style>